.hero {
  position: relative;
  width: 95%;
  margin: 0 auto;
  height: 80vh;
  overflow: hidden;
  border-radius:50px;
  padding-top: 30px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;       
  object-fit: cover;
  margin: 0;
  padding: 0;        
}
